<html>
  <head>
<style type="text/css">
a:hover {text-decoration: underline; color: red;}
</style>
    <!--<script src="/static/js/processing.js"></script>-->
    <script src="/static/js/jquery.js"></script>
    <!--<script src="/static/js/socket.io.js"></script>-->
    <script type="text/javascript">
      var C=100;

      var canvas;
      var ctx;

      var pmouseX=null;
      var pmouseY=null;

      var portwidth=0.158600;
      var portheight=0.104407;

      var ll=-71.173370;
      var rr=ll+portwidth;
      var bb=42.289865;
      var tt=bb+portheight;

      var tilewidth=0.02; // geographical units
      var tiles={};
      var transtiles={};
      //var tilequeue = new Queue();
      var ntiles=0;
      var ntranstiles=0;
      var tilelimit=100;

      var unitscale=1000;
      var lineproportion=0.00031;

      var dijkstra;
      var graph = new Graph();
      var tree;

      var mode="route";
      var modebuttons=[];

var rad=function(x){
  return Math.PI*(x/180.0);
}

function distVincenty(lon1, lat1, lon2, lat2) {
  var a = 6378137, b = 6356752.314245,  f = 1/298.257223563;  // WGS-84 ellipsoid params
  var L = rad(lon2-lon1);
  var U1 = Math.atan((1-f) * Math.tan(rad(lat1)));
  var U2 = Math.atan((1-f) * Math.tan(rad(lat2)));
  var sinU1 = Math.sin(U1), cosU1 = Math.cos(U1);
  var sinU2 = Math.sin(U2), cosU2 = Math.cos(U2);
  
  var lambda = L, lambdaP, iterLimit = 100;
  do {
    var sinLambda = Math.sin(lambda), cosLambda = Math.cos(lambda);
    var sinSigma = Math.sqrt((cosU2*sinLambda) * (cosU2*sinLambda) + 
      (cosU1*sinU2-sinU1*cosU2*cosLambda) * (cosU1*sinU2-sinU1*cosU2*cosLambda));
    if (sinSigma==0) return 0;  // co-incident points
    var cosSigma = sinU1*sinU2 + cosU1*cosU2*cosLambda;
    var sigma = Math.atan2(sinSigma, cosSigma);
    var sinAlpha = cosU1 * cosU2 * sinLambda / sinSigma;
    var cosSqAlpha = 1 - sinAlpha*sinAlpha;
    var cos2SigmaM = cosSigma - 2*sinU1*sinU2/cosSqAlpha;
    if (isNaN(cos2SigmaM)) cos2SigmaM = 0;  // equatorial line: cosSqAlpha=0 (§6)
    var C = f/16*cosSqAlpha*(4+f*(4-3*cosSqAlpha));
    lambdaP = lambda;
    lambda = L + (1-C) * f * sinAlpha *
      (sigma + C*sinSigma*(cos2SigmaM+C*cosSigma*(-1+2*cos2SigmaM*cos2SigmaM)));
  } while (Math.abs(lambda-lambdaP) > 1e-12 && --iterLimit>0);

  if (iterLimit==0) return NaN  // formula failed to converge

  var uSq = cosSqAlpha * (a*a - b*b) / (b*b);
  var A = 1 + uSq/16384*(4096+uSq*(-768+uSq*(320-175*uSq)));
  var B = uSq/1024 * (256+uSq*(-128+uSq*(74-47*uSq)));
  var deltaSigma = B*sinSigma*(cos2SigmaM+B/4*(cosSigma*(-1+2*cos2SigmaM*cos2SigmaM)-
    B/6*cos2SigmaM*(-3+4*sinSigma*sinSigma)*(-3+4*cos2SigmaM*cos2SigmaM)));
  var s = b*A*(sigma-deltaSigma);
  
  s = parseFloat(s.toFixed(3)); // round to 1mm precision
  return s;
  
  // note: to return initial/final bearings in addition to distance, use something like:
  var fwdAz = Math.atan2(cosU2*sinLambda,  cosU1*sinU2-sinU1*cosU2*cosLambda);
  var revAz = Math.atan2(cosU1*sinLambda, -sinU1*cosU2+cosU1*sinU2*cosLambda);
  return { distance: s, initialBearing: fwdAz.toDeg(), finalBearing: revAz.toDeg() };
}

      function gettilekey(x,y){
        var xstart = (Math.round(Math.floor(x/tilewidth)*tilewidth*1000)/1000);
        var ystart = (Math.round(Math.floor(y/tilewidth)*tilewidth*1000)/1000);

        return xstart.toFixed(2)+":"+ystart.toFixed(2);
      }

      function get_nearest_street_vertex(lng,lat){
        tile = tiles[gettilekey(lng,lat)];
        return tile.nearestNode( lng,lat );
      }
  
      function clear(){
        ctx.clearRect(ll,bb,(rr-ll),(tt-bb));
      }

      function linestring_dist(ary){
        var ret = 0;
        if(ary.length<2){
          return 0;
        }
        for(var i=0; i<ary.length-1; i++) {
          if( ary[i][0]===null ||
              ary[i][1]===null || 
              ary[i+1][0]===null ||
              ary[i+1][1]===null ){
            return null;
          }
          ret += distVincenty( ary[i][0], ary[i][1], ary[i+1][0], ary[i+1][1] );
        }
        return ret;
      }

      function edge_weight(prev_edge, edge) {
        // don't go against traffic if it's not allowed for bikes
        if( edge.keysvals["oneway:bicycle"]==="yes" && edge.reverse ){
          return null;
        }

        // ignore freeways
        if( edge.keysvals.highway === "motorway" || edge.keysvals.highway === "motorway_link"){
          return null;
        }

        // various street-type preferences 
        var mult=1;
        if( edge.keysvals.highway === "footway" || edge.keysvals.highway === "cycleway" ) {
          mult = 1.0//;0.75;
        } else if( edge.keysvals.highway === "primary" ) {
          mult = 1.0//;1.5;
        } else if( edge.keysvals.bicycle === "designated" || edge.keysvals.cycleway === "lane" ) {
          mult = 0.7;
        } else if( edge.keysvals.highway === "steps" ) {
          mult = 10;
        }

        // determine road length
        var ret = linestring_dist(edge.loc);
        if(ret===null){ return null; }

        // corner penalty
        var corner_penalty=0.0;
        if(prev_edge && prev_edge.keysvals.name!==edge.keysvals.name){
          corner_penalty=50;
        }
        
        // hill penalty
        var hill_penalty=0;
        if( edge.rise !== undefined ){
          if( edge.keysvals.bridge !== "yes" && edge.keysvals.bridge !== "true" ) {
            hill_penalty=edge.rise*100;
          }
        } 

        return mult*ret + corner_penalty + hill_penalty;
      }

      function draw_linestring(ctx, ary){
        ctx.beginPath();
        ctx.moveTo(ary[0][0]*unitscale,ary[0][1]*unitscale);
        for(var j=1; j<ary.length; j++){
          if(!ary[j][0] || !ary[j][1])
            continue;
          ctx.lineTo(ary[j][0]*unitscale, ary[j][1]*unitscale);
        }
        ctx.stroke();
      }

      function draw_dot(ctx, lng, lat, size, color){
        if(color){
          ctx.fillStyle=color;
        }
        ctx.fillRect( lng*unitscale-size/2, lat*unitscale-size/2, size, size );
      }

      function draw_way(ctx, way, linewidth){
        if( linewidth === undefined ) {
          ctx.lineWidth=0.000005*Math.pow((rr-ll),0.5)*10*unitscale;
        } else {
          ctx.lineWidth=linewidth*unitscale;
        }

        if(way.loc.length<2)
          return;
        if(!way.loc[0][0] || !way.loc[0][1])
          return;

        draw_linestring( ctx, way.loc );
      }

      function Dijkstra(startnode){
        this.startnode = startnode;
        this.queue = new Queue();
        this.running = null;

        //dummy edge goes to origin
        this.queue.insert( {'orig':null,'dest':startnode,'way':null,'edgeweight':0}, startnode, 0 );
        
        this.step = function(exponent){  
          if( this.queue.empty() ){
            return;
          }

          // get edge to nearest unreached vertex
          var best_edge = this.queue.extract_min();
          var best_edge_orig=best_edge[0]['orig']
          var best_edge_dest=best_edge[0]['dest'];
          ctx.strokeStyle="D40000";
          var best_edge_weight=best_edge[1];

          // stick that edge in the tree (destination points back to origin)
          tree[best_edge_dest]={'orig':best_edge_orig,'weight':best_edge_weight,'edgeweight':best_edge[0]['edgeweight'],'trunkyness':0,'way':best_edge[0]['way']};

          // draw the edge
          draw_tree_branch( ctx, tree[best_edge_dest], exponent );
          //trace up the tree adding the edge weight
          var parentid=best_edge_orig;
          while(parentid){
            tree[parentid]['trunkyness']+=best_edge[0]['edgeweight'];
            draw_tree_branch( ctx, tree[parentid], exponent );
            parentid = tree[parentid]['orig']
          }

          // for each outgoing edge
          var outgoing = graph.adj[best_edge_dest];
          if(!outgoing)
            return;

          for( var i=0; i<outgoing.length; i++ ){
            var candidate_edge = outgoing[i];
            var cand_dest_node = candidate_edge[0];
            var cand_edge_data = candidate_edge[1];
            var cand_edge_weight = edge_weight( best_edge[0].way, cand_edge_data );
            if(cand_edge_weight===null){
              continue;
            }
            if( tree[cand_dest_node] !== undefined ){
              continue;
            }

            // insert into queue
            this.queue.insert( {'orig':best_edge_dest, 'dest':cand_dest_node,'way':cand_edge_data, 'edgeweight':cand_edge_weight}, cand_dest_node, best_edge_weight+cand_edge_weight );
            document.getElementById("queuesize").innerHTML=this.queue.size;
          }
        }

        this.run = function(exponent){
          this.running=true;
          var metathis=this;
          var metastep = function(){
            if(!metathis.running){
              return;
            }            

            if(metathis.queue.empty())
              return;
            for(var i=0; i<10; i++){
             metathis.step(exponent);
            }
            setTimeout(metastep, 0);
          }
          metastep();
        }

        this.stop = function(){
          this.running=false;
        }

        this.toggle = function(exponent){
          if(this.running){
            this.stop();
          } else {
            this.run(exponent);
          }
        }
      }

      function interpolate( ary, spacing ) {
        if(ary.length<2){
          return ary;
        }

        var ret = [];
        
        var cur=0;
        var segstart=0;
        var segend;
        for(var i=1; i<ary.length; i++) {
          if( ary[i-1][0]===null ||
              ary[i-1][1]===null ||
              ary[i][0]===null ||
              ary[i][1]===null ){
            return null;
          }          

          var segdist = dist(ary[i-1][0],ary[i-1][1],ary[i][0],ary[i][1]);
          var norm = [(ary[i][0]-ary[i-1][0])/segdist, (ary[i][1]-ary[i-1][1])/segdist];

          segend = segstart + segdist;
          while(cur<segend){
            var seginterp = cur-segstart;
            var yld = [norm[0]*seginterp+ary[i-1][0], norm[1]*seginterp+ary[i-1][1]]
            ret.push( yld );

            cur += spacing;
          }
          ret.push(ary[i]);
          segstart = segend;
        }

        return ret;
      }

      function reverse(ary){
        ret = [];
        for(var i=ary.length-1; i--; i>=0){
          ret.push( ary[i] );
        }
        return ret;
      }

      function draw_tree_branch(ctx,branch, exponent){
          var thicken=0.000007;

          if( exponent === undefined ){ exponent = 0.35; }

          if( branch['way'] ){

            if(branch.way.keysvals.highway==="footway" || branch.way.keysvals.highway==="path") {
              ctx.strokeStyle="007007";
            } else if (branch.way.keysvals.bicycle==="designated" || branch.way.keysvals.cycleway==="lane") {
              ctx.strokeStyle="910088"; 
            } else if (branch.way.keysvals.highway==="cycleway") {
              ctx.strokeStyle="000BA8";
            } else {
              ctx.strokeStyle="D40000";
            }
            
            if(branch['trunkyness']==0){
              var segs = interpolate( branch.way.loc, 0.0001);
              if( segs === null ){
                return;
              }

              var len = 0;
              if( branch.way.reverse ){
                for(var i=1; i<segs.length; i++){
                  len += distVincenty(segs[i-1][0],segs[i-1][1],segs[i][0],segs[i][1]);
                  ctx.lineWidth=Math.pow(len,exponent)*thicken*unitscale*Math.pow((rr-ll),0.5)*5;
                  draw_linestring( ctx, [segs[i-1],segs[i]] );
                }
              } else {
                for(var i=segs.length-1; i>=1; i--){
                  len += distVincenty(segs[i-1][0],segs[i-1][1],segs[i][0],segs[i][1]);
                  ctx.lineWidth=Math.pow(len,exponent)*thicken*unitscale*Math.pow((rr-ll),0.5)*5;
                  draw_linestring( ctx, [segs[i-1],segs[i]] );
                }
              }
            } else {
              var branchwidth=Math.pow(branch['trunkyness'],exponent)*thicken*Math.pow((rr-ll),0.5)*5;
              draw_way(ctx,branch['way'],branchwidth);
            }
       
          }
      }

      function draw_tree(ctx,tree){
        for(var item in tree){
          draw_tree_branch(ctx,tree[item]);
        }
      }

      function Graph(){
        this.adj = {}; //nodeid -> list of (nodeid, edge)
        
        this.add = function(fromv,tov,edge){
          if(this.adj[fromv]===undefined){
            this.adj[fromv]=[];
          }
          this.adj[fromv].push( [tov, edge] );
        }

      }

      function Queue(){
        this.data = {};
        this.size=0;
        
        this.insert = function(item,label,prio){
          this.size += 1;

          if( this.data[label] !== undefined ) {
            if(this.data[label][1]>prio){
              this.data[label] = [item,prio];
            }
          } else {
            this.data[label] = [item,prio];
          }
        } 

        this.min = function() {
          var min=null;
          var minweight=10000000;
          for( var item in this.data ){
            if ( this.data[item][1] < minweight ) {
              minweight = this.data[item][1];
              min=item; 
            }
          }
          return min;
        }

        this.max = function() {
          var max=null;
          var maxweight=-10000000;
          for( var item in this.data ){
            if ( this.data[item][1] > maxweight ) {
              maxweight = this.data[item][1];
              min=item; 
            }
          }
          return min;
        }

        this.extract_min = function() {
          this.size -= 1;
          var minkey = this.min();
          var ret = this.data[minkey];
          delete this.data[minkey];
          return ret;
        }

        this.extract_max = function() {
          this.size -= 1;
          var maxkey = this.max();
          var ret = this.data[maxkey];
          delete this.data[maxkey];
          return ret;
        }

        this.empty = function() {
          for( var item in this.data ){
            return false;
          }
          return true;
        }
      }
      
      function TransitTile(inll,inbb,inww,inhh){
        this.ll=inll;
        this.bb=inbb;
        this.ww=inww;
        this.hh=inhh;
        this.rr=inll+inww;
        this.tt=inbb+inhh;

        this.edges = []

        this.nearestNode = function(x,y){
          var winnerdist=100000000;
          var winner=null;
          for(var i=0; i<this.edges.length; i++){
            var edge = this.edges[i];

            if(!edge.stop_loc || edge.stop_loc.length==0){
              continue;
            }
            var dists0 = dist(edge.stop_loc[0],edge.stop_loc[1],x,y);
            if(dists0<winnerdist){
              winnerdist = dists0;
              winner=edge.stop_id;
            }
          }
          return [winner,winnerdist];
        }

        this.draw = function(ctx){
          if( this.rr < ll ||
              this.ll > rr ||
              this.bb > tt ||
              this.tt < bb ) {
            return;
          }

          for(var i=0; i<this.edges.length; i++){
            if( this.edges[i].stop_loc === null || this.edges[i].next_stop_loc === null ){
              continue;
            }

            draw_linestring( ctx, [this.edges[i].stop_loc, this.edges[i].next_stop_loc] );
            draw_dot( ctx, this.edges[i].stop_loc[0], this.edges[i].stop_loc[1], 0.1, "blue" );
            draw_dot( ctx, this.edges[i].next_stop_loc[0], this.edges[i].next_stop_loc[1], 0.1, "blue" );
          }
        }

        this.tilekey = function(){
          return this.ll.toFixed(2)+":"+this.bb.toFixed(2);
        }

        this.fetch = function(ctx, graph){
          var metathis=this;

          $.getJSON("/transtile/"+this.tilekey(), function(data){
            if( data===null){
              return;
            }

            metathis.edges=data.value.edges;
            
            ctx.strokeStyle="blue"; 
            metathis.draw(ctx);

            for(var i=0; i<metathis.edges.length; i++){
              var edge = metathis.edges[i];
              if( edge.stop_id===null || edge.next_stop_id===null ){
                 continue;
              }

              // get nearest street vertex
              //var from_street_v = get_nearest_street_vertex( edge.stop_loc[0], edge.stop_loc[1] );
              //graph.add( from_street_v[0], "bart-"+edge.stop_id, {type:"link"} );

              //var to_steet_v = get_nearest_street_vertex( edge.next_stop_loc[0], edge.next_stop_loc[1] );
              //graph.add( "bart-"+edge.next_stop_id, to_street_v[0], {type:"link"} );

              graph.add( "bart-"+edge.stop_id, "bart-"+edge.next_stop_id, edge );
            }
          });
          
        }

      }

      function Tile(inll,inbb,inww,inhh){
        this.ll=inll;
        this.bb=inbb;
        this.ww=inww;
        this.hh=inhh;
        this.rr=inll+inww;
        this.tt=inbb+inhh;

        this.ways = []

        this.comp=null;

        this.nearestNode = function(x,y){
          var winnerdist=100000000;
          var winner=null;
          for(var i=0; i<this.ways.length; i++){
            var way = this.ways[i];

            if(!way.loc || way.loc.length==0){
              continue;
            }
            var s0 = way.loc[0];
            var dists0 = dist(s0[0],s0[1],x,y);
            if(dists0<winnerdist){
              winnerdist = dists0;
              winner=way.fromv;
            }
          
            var s1 = way.loc[way.loc.length-1];
            var dists1 = dist(s1[0],s1[1],x,y);
            if(dists1<winnerdist){
              winnerdist = dists1
              winner=way.tov;
            }
          }
          return [winner,winnerdist];
        }

        this.draw = function(ctx, drawways){
          if( this.rr < ll ||
              this.ll > rr ||
              this.bb > tt ||
              this.tt < bb ) {
            return;
          }

          if(drawways!==false){
            for(var i=0; i<this.ways.length; i++){
              this.drawWay(ctx,i); 
            }
          }
        }

        this.drawWay = function(ctx,i){

              var way = this.ways[i];
              draw_way( ctx, way );
        }

        this.tilekey = function(){
          return this.ll.toFixed(2)+":"+this.bb.toFixed(2);
        }

        this.fetch = function(ctx, graph, ontilefetched){
          var metathis=this;

          $.getJSON("/comptile/"+this.tilekey(), function(data){
            if( data===null){
              ontilefetched();
              return;
            }

            for( var i in data.value.ways ) {
              var way = data.value.ways[i];
              way.loc = uncompressloc( way.loc );
              way.keysvals = data.value.wayinfo[way.wayid];
              data.value.ways[i]=way;
            }
            metathis.ways=data.value.ways;
            
            ctx.strokeStyle="black"; 
            metathis.draw(ctx);

            for(var i=0; i<metathis.ways.length; i++){
              var way = metathis.ways[i];
              if( way.loc.length<2 ){
                 continue;
              }
              graph.add( way.fromv, way.tov, way );
              if( way.keysvals.oneway !== "true" && way.keysvals.oneway !== "yes" ){
                var revway = {reverse:true,loc:way.loc,keysvals:way.keysvals,id:way.id,tov:way.fromv,fromv:way.tov,rise:way.fall,fall:way.rise}
                graph.add( revway.fromv, revway.tov, revway );
              }
            }

            ontilefetched();
          });
          
        }

      }

      function dist(x1,y1,x2,y2) {
        return Math.sqrt( Math.pow(x1-x2,2)+Math.pow(y1-y2,2) );
      }
      function min(a,b){
        if(a>b) {
          return a;
        } else {
          return b;
        }
      }
      function mag(x,y){
        return Math.sqrt( Math.pow(x,2)+Math.pow(y,2) );
      }

      function apply_transform(){
        ctx.setTransform(1,0,0,1,0,0);

        var xscale = canvas.width/((rr-ll)*unitscale);
        var yscale = canvas.height/((bb-tt)*unitscale);

        ctx.translate( -ll*xscale*unitscale, -tt*yscale*unitscale );
        ctx.scale(xscale,yscale);
      }
      function redraw() {
        ctx.clearRect(ll*unitscale,bb*unitscale,(rr-ll)*unitscale,(tt-bb)*unitscale);
        ctx.strokeStyle="D40000";
        draw_tree(ctx,tree);
        ctx.strokeStyle="black";

        var xstart = (Math.round(Math.floor(ll/tilewidth)*tilewidth*1000)/1000);
        var ystart = (Math.round(Math.floor(bb/tilewidth)*tilewidth*1000)/1000);
        var x = xstart;
        var y = ystart;

        while(x<rr){
          while(y<tt){
            var tilekey = x.toFixed(2)+":"+y.toFixed(2);
            ctx.strokeStyle="black";
            if( tiles[tilekey]!==undefined ) {
              tiles[tilekey].draw(ctx);
            }
            ctx.strokeStyle="blue";
            if( transtiles[tilekey]!==undefined ){
              transtiles[tilekey].draw(ctx);
            }
            y += tilewidth;
          }
          y = ystart;
          x += tilewidth;
        }
        //for(tile in tiles){
        //  tiles[tile].draw(ctx);
        //}
      }

      function fetchTiles() {

        if((rr-ll)/tilewidth > 20 || (tt-bb)/tilewidth > 20)
          return; //too big

        function for_each_tilespace_in_viewport(callback){
          var xstart = (Math.round(Math.floor(ll/tilewidth)*tilewidth*1000)/1000);
          var ystart = (Math.round(Math.floor(bb/tilewidth)*tilewidth*1000)/1000);
          var x = xstart;
          var y = ystart;

          while(x<rr){
            while(y<tt){
              callback(x,y);
              y += tilewidth;
            }
            y = ystart;
            x += tilewidth;
          }

        }

        var tilesstarted=0;
        var tilesfinished=0;
        var ontilefetched = function(){
          tilesfinished += 1; 
          console.log( tilesfinished, tilesstarted );

          if( tilesfinished == tilesstarted ){
            for_each_tilespace_in_viewport(function(x,y){
              var tilekey = x.toFixed(2)+":"+y.toFixed(2);
              if( transtiles[tilekey]===undefined ) {
                console.log( tilekey );
                transtiles[tilekey] = new TransitTile(x,y,tilewidth,tilewidth);
                transtiles[tilekey].fetch(ctx, graph);

                ntranstiles += 1;
              } 
            });
          }
        }

        var newtiles=false;

        for_each_tilespace_in_viewport( function(x,y) {
          var tilekey = x.toFixed(2)+":"+y.toFixed(2);
          if( tiles[tilekey]===undefined ) {
            newtiles=true;

            //console.log( "new tile "+tilekey );
            tiles[tilekey]=new Tile(x,y,tilewidth,tilewidth);
            tiles[tilekey].fetch(ctx, graph, ontilefetched);
            //tilequeue.insert( tiles[tilekey], tilekey, 0 );

            ntiles += 1;
            tilesstarted += 1;
            document.getElementById("tilecount").innerHTML=ntiles;
          } 
        } );

        if(newtiles){
          clean_tiles();
        }
      }

      function clean_tiles(){
        /*
        console.log( "clean tiles" );
        //increment every tile in the tilequeue
        for( var tilekey in tilequeue.data ){
          tilequeue.data[tilekey][1] += 1;
        }

        //set priority of all tiles in viewport to 0
        var xstart = (Math.round(Math.floor(ll/tilewidth)*tilewidth*1000)/1000);
        var ystart = (Math.round(Math.floor(bb/tilewidth)*tilewidth*1000)/1000);
        var x = xstart;
        var y = ystart;

        var newtiles=false;
        while(x<rr){
          while(y<tt){
            var tilekey = x.toFixed(2)+":"+y.toFixed(2);
            if(tilequeue.data[tilekey]!==undefined){
              tilequeue.data[tilekey][1]=0;
            }
            y += tilewidth;
          }
          y = ystart;
          x += tilewidth;
        }

        // remove spare tiles
        //console.log( ntiles+"/"+tilelimit+" tiles" );
        if( ntiles > tilelimit) {
          var overage = ntiles-tilelimit;
          //console.log( "delete "+overage+" tiles" );
          for(var i=0; i<overage; i++){
            var tile = tilequeue.extract_max()[0];
            //console.log( tile.tilekey() );

            // scour the tiles's ways from the graph
            for(var j in tile.ways){
              delete graph.adj[tile.ways[j].fromv];
            }

            // delete the tile itself
            delete tiles[tile.tilekey()];
            ntiles -= 1;
          }
        }*/

      }

      function undiffcompress( ary ) {
        var ret = [];

        var last = null;
        for(var i in ary){
          // scan forward for first non-null item
          if( last===null ){
            last=ary[i];
            ret.push( last );
            continue;
          }
          // only get this far if 'last' is non-null
          // if this item is null, push onto the stack and move forward
          if( ary[i] === null ){
            ret.push( null );
            continue;
          }
          
          last += ary[i];
          ret.push( last );
        }

         return ret;
      }

      function uncompressloc( loc ) {
        var lons = undiffcompress( loc[0] );
        var lats = undiffcompress( loc[1] );

        for(var i in lons){
          lons[i] = lons[i]!==null ? lons[i]/1000000 : null; 
        }
        for(var i in lats){
          lats[i] = lats[i]!==null ? lats[i]/1000000 : null;
        }

        var ret = [];
        for(var i in lons){
          ret.push( [lons[i],lats[i]] );
        }
        return ret;
      }

      $(document).ready( function() {

        $("#routemode").data("mode","route").css("background-color","AFE6AC");
        $("#infomode").data("mode","info");
        $(".modebutton").click(function(ev){
          $(".modebutton").css("background-color","");
          $(this).css("background-color","AFE6AC");
          mode = $(this).data("mode");
          console.log( mode ); 
        });
        

        function handle(delta, x, y) {

          var scalefactor = Math.pow(1.1,-delta);
          zoom( scalefactor,x,y );
        }

        function zoom(scalefactor,x,y){
          var newwidth = (rr-ll)*scalefactor;
          var newheight = (bb-tt)*scalefactor;

          var smidgex = x/canvas.width;
          var smidgey = y/canvas.height;

          var centerx = (rr-ll)*smidgex + ll;
          var centery = (bb-tt)*smidgey + tt;

          ll = centerx - newwidth*(smidgex);
          rr = centerx + newwidth*(1-smidgex);
          tt = centery - newheight*(smidgey);
          bb = centery + newheight*(1-smidgey);

          apply_transform();
          redraw();
          fetchTiles();
        }

        function wheel(event){
          
          if( event.target!=canvas )
            return true;

          var delta = 0;
          if (!event)  // For IE. 
            event = window.event;
          if (event.wheelDelta) { // IE/Opera. 
            delta = event.wheelDelta/120;
          } else if (event.detail) { // Mozilla case. 
          // In Mozilla, sign of delta is different than in IE.
          // Also, delta is multiple of 3.
            delta = -event.detail/3;
          }
          // If delta is nonzero, handle it.
          // Basically, delta is now positive if wheel was scrolled up,
          // and negative, if wheel was scrolled down.
          
          if (delta)
            handle(delta, mouseX(event), mouseY(event));
          // Prevent default actions caused by mouse wheel.
          // That might be ugly, but we handle scrolls somehow
          // anyway, so don't bother here..
         
          if (event.preventDefault)
            event.preventDefault();
          event.returnValue = false;
        }

        canvas = $("#canvas")[0]
        ctx = canvas.getContext("2d");
        ctx.lineCap="round";
       
        apply_transform();
        redraw();
        fetchTiles();

        document.onkeypress = function(ev) {
        }
        
        canvas.oncontextmenu = function(ev) {
          return false;
        }

        canvas.onclick = function(ev) {
          
        }

        function mouseX(ev) {
          var posx = 0;
          if (ev.pageX) {
            posx = ev.pageX;
          }
          else if (ev.clientX) {
            posx = ev.clientX + document.body.scrollLeft
                   + document.documentElement.scrollLeft;
          }

          return posx - ev.target.offsetLeft;
        }
        function mouseY(ev) {
          var posy = 0;
          if (ev.pageY) {
            posy = ev.pageY;
          }
          else if (ev.clientY) {
            posy = ev.clientY + document.body.scrollTop
                   + document.documentElement.scrollTop;
          }

          return posy - ev.target.offsetTop;
        }

        function mapX(x) {
          return (x/canvas.width)*(rr-ll)+ll;
        }

        function mapY(y) {
          return (y/canvas.height)*(bb-tt)+tt;
        }

        var buttonstate={};

        var clickpoint;
        canvas.onmousedown = function(ev) {
          clickpoint = [mouseX(ev),mouseY(ev)];
          buttonstate[ev.button]=1;
        }

        function random_color(red,green,blue){
          return "#"+
                 (red+Math.floor(Math.random()*(255-red))).toString(16)+
                 (green+Math.floor(Math.random()*(255-green))).toString(16)+
                 (blue+Math.floor(Math.random()*(255-blue))).toString(16);
        }

        function min(x,y){
          if(x<y){ return x; } else { return y; }
        }
        function max(x,y){
          if(x>y){ return x; } else { return y; }
        }
        function bounds(ary){
          //returns bounds of 2d string
          var ll=100000000;
          var rr=-100000000;
          var bb=100000000;
          var tt=-100000000;

          for( var i in ary ){
            ll = min(ll,ary[i][0]);
            rr = max(rr,ary[i][0]);
            bb = min(bb,ary[i][1]);
            tt = max(tt,ary[i][1]); 
          }

          return {ll:ll,rr:rr,bb:bb,tt:tt};
        }

        function outgoing_way_info(startnode){
              var canvasses={};
              var ctxs={};
              var reverses={};

              for( var i in graph.adj[startnode] ){
                var edge = graph.adj[startnode][i][1];
                var color = random_color(100,100,100);
                $("#edgeinfo").append( "<pre style='background-color:"+color+"'>"+JSON.stringify(edge, null, "  ")+
                  "\nweight:"+edge_weight(null,edge)+
                  "\nlength:"+linestring_dist(edge.loc)+"</pre>" );
                $("#edgeinfo").append( "<canvas id='info"+i+"' style='background-color:#ffffff' width='400' height='200'><canvas>" );
        
                canvasses[edge.id] = $("#info"+i)[0];
                ctxs[edge.id] = canvasses[edge.id].getContext("2d");
                ctxs[edge.id].strokeStyle="black";
                ctxs[edge.id].lineWidth=1;
                reverses[edge.id]=edge.reverse;

                var ondataget = function( data ){
                  if( data === null ){ return; }

                  var dbounds = bounds( data.profile );
                  ctxs[data.id].beginPath();
                  if( reverses[data.id] ){
                    ctxs[data.id].moveTo(400*((dbounds.rr-data.profile[0][0])/dbounds.rr),200-200*((data.profile[0][1]-dbounds.bb)/(dbounds.tt-dbounds.bb)));
                    for(var i=1; i<data.profile.length; i++){
                      ctxs[data.id].lineTo(400*((dbounds.rr-data.profile[i][0])/dbounds.rr), 200-200*((data.profile[i][1]-dbounds.bb)/(dbounds.tt-dbounds.bb)));
                    }
                  } else {
                    ctxs[data.id].moveTo(400*(data.profile[0][0]/dbounds.rr),200-200*((data.profile[0][1]-dbounds.bb)/(dbounds.tt-dbounds.bb)));
                    for(var i=1; i<data.profile.length; i++){
                      ctxs[data.id].lineTo(400*(data.profile[i][0]/dbounds.rr), 200-200*((data.profile[i][1]-dbounds.bb)/(dbounds.tt-dbounds.bb)));
                    }
                  }
                  ctxs[data.id].stroke();
                }

                $.getJSON("/profile/"+edge.id, ondataget);

                ctx.strokeStyle=color;
                draw_way( ctx, edge, 0.0001 );
              }
        }

        function outgoing_transitedge_info(startnode){
              for( var i in graph.adj[startnode] ){
                var edge = graph.adj[startnode][i][1];
                var color = random_color(100,100,100);
                $("#edgeinfo").append( "<pre style='background-color:"+color+"'>"+JSON.stringify(edge, null, "  ")+"</pre>" );

                ctx.strokeStyle=color;
                ctx.lineWidth=0.1;
                draw_linestring( ctx, [edge.stop_loc, edge.next_stop_loc] );
              }
        }
        
        canvas.onmouseup = function(ev) {
          if( mouseX(ev)==clickpoint[0] && mouseY(ev)==clickpoint[1] ){
            var x = mapX(mouseX(ev));
            var y = mapY(mouseY(ev)); 
          
            var startnode_entry = get_nearest_street_vertex( x, y );
            var startnode = startnode_entry[0];

            var transtile = transtiles[gettilekey(x,y)];
            var transnode_entry = transtile.nearestNode( x,y );
            var transstartnode = transnode_entry[0];
    
            if(mode==="route"){ 
              tree = {};
              redraw();

              if(dijkstra !== undefined){
                dijkstra.stop();
              }
              dijkstra = new Dijkstra(startnode); 
              dijkstra.run(0.35);
            } else if(mode==="info"){
              $("#edgeinfo").html("");
              if( transnode_entry[1] < startnode_entry[1] ){
                console.log( transstartnode );
                console.log( graph.adj["bart-"+transstartnode] );
                outgoing_transitedge_info( "bart-"+transstartnode ); 
              } else {
                outgoing_way_info( startnode );
              }
            }
          }
          buttonstate[ev.button]=0;
        }
        
        canvas.onmousemove = function(ev){
          if( buttonstate[0]==1 ) {
            var deltax = mapX(mouseX(ev))-mapX(pmouseX);
            var deltay = mapY(mouseY(ev))-mapY(pmouseY);
            ll -= deltax;
            rr -= deltax;
            bb -= deltay;
            tt -= deltay;

            apply_transform();
            redraw();
            fetchTiles();
          }


          pmouseX=mouseX(ev);
          pmouseY=mouseY(ev);
        }

        document.onkeypress = function(ev){
          if(dijkstra!==undefined && ev.charCode==32){
            dijkstra.toggle(0.35);
          }

          if( ev.charCode==109 ){
            zoom(1.1,500,500);
          } else if( ev.charCode==110 ){
            zoom(1/1.1,500,500);
          }

          return false;
        }

        canvas.onmouseout = function(ev) {
          for(var button in buttonstate){
            buttonstate[button]=0;
          }
        }

        if (window.addEventListener)
          // DOMMouseScroll is for mozilla.
          window.addEventListener('DOMMouseScroll', wheel, false);
        // IE/Opera.
        window.onmousewheel = document.onmousewheel = wheel;

      });
    </script>
  </head>
  <body style="background-color:#ffeeee">
    <canvas style="float:left;background-color:#ffffff;image-rendering:optimizeSpeed" id="canvas" width="1000" height="1000"></canvas>
    <div style="float:left;cursor:default;width:400px;padding-left:10px;left:1000px" id="commands">
      <h2>What's all this?</h2>
      <p><b>Click</b> to see the shortest path from that point to everywhere else. <b>Left-click</b> drag to pan, and <b>mouse-wheel</b> or <b>n</b>/<b>m</b> buttons to zoom. <b>Spacebar</b> stops and starts the tree growth.</p>
      <p>Blue lines are bike paths. Green lines are all other paths. Purple is bicycle-designated roads, and red is everything else.</p>
      <h2>Who made it?</h2>
      <p>The <a href="http://www.openstreetmap.org/">OpenStreetMap</a> community compiled the map data. This data viz was made by <a href="http://bmander.com/">Brandon Martin-Anderson</a> (bmander@mit.edu), developing some ideas for the <a href="http://www.media.mit.edu/research/groups/changing-places">Changing Places</a> group at the <a href="http://www.media.mit.edu/">MIT Media Lab</a>. Fork this project on <a href="https://github.com/bmander/vtp">Github</a>.</p>
      <h2>A warning!</h2>
      <p>This thing is a memory hog. Panning in particular will seriously crash your browser after a few minutes. I'll see what I can do.</p>
      <h2>Some places to go</h2>
      <ul> 
      <li onclick="ll=-71.173370;rr=ll+portwidth;bb=42.289865;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">Boston</a></li>
      <li onclick="ll=-122.41940;rr=ll+portwidth;bb=47.56367;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">Seattle</a></li>
      <li onclick="ll=-122.747846;rr=ll+portwidth;bb=45.456993;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">Portland</a></li>
      <li onclick="ll=-122.521305;rr=ll+portwidth;bb=37.704195;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">San Francisco</a></li>
      <li onclick="ll=-74.046478;rr=ll+portwidth;bb=40.720721;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">New York City</a></li>
      <li onclick="ll=12.509308;rr=ll+portwidth;bb=55.658028;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">Copenhagen</a></li>
      <li onclick="ll=-97.828548;rr=ll+portwidth;bb=30.20249;tt=bb+portheight;apply_transform();fetchTiles();redraw();"><a onclick="return false;" href="">Austin</a></li>
      </ul>
      <h2>Fancy information</h2>
      <div id="fancy">
      queue size:<span id="queuesize"></span><br>
      tile count:<span id="tilecount"></span><br>
      mode: <span class="modebutton" id="routemode">[route]</span><span class="modebutton", id="infomode">[info]</span>
      <div id="edgeinfo"></div>
      </div>
    <div>
  </body>
</html>
